@charset "utf-8";
/* 默认 黑色 */	
/*全站默认字体颜色*/
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.Hui-header{ color:#fff}/*头部颜色*/
	.Hui-logo,.Hui-logo-m,.Hui-subtitle,.Hui-userbar{color:#fff}/*logo 及 用户信息文字颜色*/
	.Hui-logo:hover,.Hui-logo-m:hover{color:#fff;text-decoration: none}
	
.Hui-header{background-color:#272930;}/*顶部导航*/
#Hui-nav > ul > li > a{ color:#fff}/*顶部导航文字颜色*/
#Hui-nav > ul > li > a:hover,#Hui-nav > ul > li.current > a{ color:#fff}/*导航高亮状态*/
.Hui-userbar > li > a{ color:#fff}
.Hui-userbar > li > a:hover,.Hui-userbar > li.current > a{ color:#fff}/*用户信息条高亮*/
.Hui-aside{}/*侧边栏*/
	.Hui-aside .menu_dropdown dt{color:#C9D4F6; background-color:#383B45;border-bottom: 1px solid #26292E;}/*左侧二级导航菜单*/
	.Hui-aside .menu_dropdown dt:hover{color:#C9D4F6}
	.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.Hui-aside .menu_dropdown li a{color:#C9D4F6;border-bottom: 1px solid #26292E}
	.Hui-aside .menu_dropdown li a:hover{color:#FFF;background-color:#3F4045}
	.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
	.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#C9D4F6}
	.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}	
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}

.Hui-aside .menu_dropdown {border-bottom: solid 1px #484C58;}
.Hui-aside .menu_dropdown dl {border-top: solid 1px #484C58;}
.Hui-aside .menu_dropdown dd ul {background-color: #26292E;}
.Hui-aside .menu_dropdown dd li a{color:#8C8C8C;}
.Hui-aside {background-color: #383B45;border-right: 1px solid #383B45;}
.Hui-aside .menu_dropdown li.current a, .menu_dropdown li.current a:hover {color: #fff;background: #2494F2;}

