@charset "utf-8";
/* 蓝色 */
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.Hui-header{ color:#fff}/*头部颜色*/
	.Hui-logo,.Hui-logo-m,.Hui-subtitle,.Hui-userbox{color:#fff}/*logo 及 用户信息文字颜色*/
	.Hui-logo:hover,.Hui-logo-m:hover{color:#fff;text-decoration: none}
	
.Hui-header{background-color:#C81623}/*顶部导航*/
#Hui-nav > ul > li > a{ color:#fff}/*顶部导航文字颜色*/
#Hui-nav > ul > li > a:hover,#Hui-nav > ul > li.current > a{ color:#fff}/*导航高亮状态*/
.Hui-userbar > li > a{ color:#fff}
.Hui-userbar > li > a:hover,.Hui-userbar > li.current > a{ color:#fff}/*用户信息条高亮*/
.Hui-aside{ background-color:#F2EAEA;}/*侧边栏*/
	.Hui-aside .menu_dropdown dt{color:#C81623;border-bottom: 1px solid #D0D7E2;}/*左侧二级导航菜单*/
	.Hui-aside .menu_dropdown dt:hover{color:#C81623}
	.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.Hui-aside .menu_dropdown li a{color:#C81623;border-bottom: 1px solid #D0D7E2}
	.Hui-aside .menu_dropdown li a:hover{color:#C81623;background-color:#fafafa}
	.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#C81623}
	.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#C81623}
	.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}
	.Hui-aside .menu_dropdown dd li a{color:#666;}
	.Hui-aside .menu_dropdown dd ul {background-color: #F0F0F0;}
	.Hui-aside .menu_dropdown li.current a, .menu_dropdown li.current a:hover {color: #fff;background: #C81623;}
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}
